body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;

}

header {
  display: flex;
  padding: 60px;
  background-color: rgb(105, 118, 139);
}

.title {
  flex: 1;
}

nav {
  display: inline-block;
}

nav a {
  padding: 0 20px;
}