@media screen and (max-width: 420px) {
  body {
    background-color: grey;
  }

  .text-colum {
    display: block;
  }
}

@media screen and (min-width: 780px) {
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 1020px) {
  body {
    background-color: lightblue;
  }
}